/* portfolio.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Updated background color */
    color: #fff; /* Updated text color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.navbar-right {
    display: flex; /* Display navbar-right */
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 20px;
}

.navbar-left ul,
.navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display lists side by side */
}

.navbar-right ul {
    margin-right: 15px;
}
.github-icon img,
.twitter-icon img {
    width: 3rem; /* Adjust the width as needed */
    height: 3rem; /* Adjust the height as needed */
    margin-top: 3rem;
    transition: transform 0.3s, filter 0.3s;
}

.github-icon img:hover,
.twitter-icon img:hover {
    transform: translateY(-5px); /* Raise the image up by 5 pixels */
    filter: brightness(150%); /* Add shine effect by increasing brightness */
}


.navbar-left li,
.navbar-right li {
    margin-right: 10px;
}

.contact-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    transition: color 0.3s, background-color 0.3s; /* Add transition for background-color */
    position: relative; /* Add position relative */
}

.contact-button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    height: 10%; /* Set initial height to 10% */
    background-color: #fff;
    border-radius: 25px;
    transition: height 0.3s;
    z-index: -1;
}

.contact-button:hover::before {
    height: 100%;
}

.contact-button:hover {
    color: #000;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

.bio-text {
    margin-top: 20px;
    text-align: left;
    max-width: 400px; /* Set a maximum width */
    margin-left: auto; /* Center the bio text horizontally */
    margin-right: auto;
    color: #999999;
}


/* Adjusted Projects section styles */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally and vertically */
    margin: 0 auto;
}

.project-section {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px;
}

.project-section article {
    flex: 1; /* Let the article take remaining space */
    background-color: #121212;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-section h1 {
    margin-bottom: 10px;
}

.project-section p {
    margin-bottom: 10px;
    max-width: 400px;
    color: #999999;
}

.project-section a {
    color: #fff;
    text-decoration: none;
}

.project-section a:hover {
    text-decoration: underline;
}

.project-section img {
    width: 100px;
    margin-right: 10px; /* Add margin to the right of the image */
}

/* portfolio.css */
.icon-button {
    background-color: transparent; /* Set button background to transparent */
    border: none; /* Remove button border */
    padding: 0; /* Remove button padding */
    cursor: pointer; /* Change cursor to pointer when hovering over button */
}

.project-info {
    display: none;
}

.projects-page {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to 100% of the viewport height */
}
.project {
    width: calc(25% - 20px); /* Set width to 25% of the container width minus any spacing */
    margin: 10px; /* Add spacing between the projects */
}


/* Define the keyframe animation for hovering effect */
@keyframes hoverAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1.1); } /* Keep the scale at 1.1 at the end */
}

/* Apply the animation on hover and pause it when not hovered */
.icon-button:hover {
    animation: hoverAnimation 0.5s forwards; /* Play animation once and keep the final state */
}

.icon-button:not(:hover) {
    transition: transform 0.5s ease; /* Smooth transition for scaling back */
    transform: scale(1); /* Ensure button returns to normal size when not hovered */
}







/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

